@media screen and (max-width: 1080px) {
    *{
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        /* border: 1px solid red; */
        margin: 0;
        padding: 0;
    }
    .navbar {
        height: 7vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        box-sizing: border-box;
    }

    .navbar>.nav-options {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 70%;
    }

    .navbar>img {
        margin-left: 30px;
        cursor: pointer;
        height: 40%;
    }

    .nav-options>button {
        font-size: 15px;
    }
    .the-half-circle {
        top: -50%;
        right: -55%;
        height: 500px;
        width: 500px;
    }
    

    .container {
        flex-wrap: wrap;
        height: 100vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .container-inner-box {
        height: 40%;
        width: 95%;
        text-align: center;
    }

    .landing-text {
        align-items: center;
        height: 50%;
    }

    .landing-text>h1 {
        font-size: 15px;
    }

    .landing-text>h3 {
        font-size: 20px;
        font-weight: 400;
    }

    .landing-text>.landing-btn-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .landing-btn-box>button {
        height: 38%;
        width: 40%;
        font-size: 17px;
    }
    .landing-img {
        margin-top: 0px;
        height: 40%;
    }

    .landing-img>img {
        height: 80%;
        align-self: flex-start;
    }
    .landing-slider {
        height: 10%;
        width: 100%;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        overflow-x: hidden;
    }
    
    .landing-slider>img {
        height: 80%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    /* this is for cards container */
    .cards-container {
        min-height: 200vh;
        overflow-x: hidden;
    }

    .cards-container-header {
        height: 10%;
    }

    .cards-container-header>h3 {
        font-size: 25px;
        font-weight: 400;
    }

    .cards-container-header>h1 {
        font-size: 20px;
        width: 95%;
    }

    .cards-box {
        min-height: 90%;
        width: 100%;
        gap: 10px;
        overflow-x: hidden !important;
        overflow-y: visible !important;
    }

    .cards-1 {
        height: 25%;
        width: 60%;
    }

    .cards-1>h2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        padding-left: 20px;
    }

    .cards-1>h3 {
        font-weight: 400;
        line-height: 22px;
        padding-left: 10px;
        font-size: 15px;
        padding-left: 10px;
    }

    .cards-1>button {
        font-size: 15px;
        padding-left: 10px;
    }

    .container-1 {
        flex-wrap: wrap;
        height: 120vh;
    }

    .container-inner-box2 {
        height: 50%;
        width: 90%;
    }

    .img-container > img{
        height: 80% !important;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .img-overlap-1 {
        height: 65%;
        width: 45%;
        position: absolute;
        left: 55%;
        top: 70%;
        transform: translate(-30%, -50%);
    }

    .img-overlap-1>img {
        height: 60%;
        width: 80%;
    }

    .img-overlap-1>h1 {
        font-size: 16px;
    }

    .img-overlap-1>h3 {
        font-size: 15px;
    }

    .text-container {
        align-items: center;
        gap: 40px;
    }

    .text-container>h1 {
        font-size: 20px;
        text-align: center;
    }

    .text-container>div {
        height: 40%;
        font-size: 20px;
    }

    .checkBox {
        height: 40%;
    }

    .checkBox>img {
        height: 22px;
        width: 22px;
        border-radius: 50%;
    }

    .text-container>button {
        width: 45%;
        font-size: 18px;
        height:10%;
    }

    .text-container2 {
        gap: 40px;
    }

    .text-container2>h2 {
        font-size: 20px;
        text-align: center;
    }

    .boxex-container {
        height: 55%;
        width: 100%;
        gap: 15px;
    }

    .boxex {
        height: 45%;
        width: 82%;
        gap: 20px;
        font-size: 15px;
        padding-left: 20px;
    }

    .img-container>img {
        width: 85%;
        height: 90%;
    }

    .img-overlap-2 {
        height: 57%;
        width: 45%;
        position: absolute;
        left: 55%;
        top: 70%;
        transform: translate(-85%, -50%);
    }

    .img-overlap-2>img {
        height: 90%;
        width: 85%;
    }

    .container-2 {
        height: 100vh;
        gap: 60px;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .container-2>h1 {
        font-size: 20px;
        font-weight: 500;
        width: 80%;
    }

    .swiper {
        width: 90%;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow-y: visible !important;
    }

    .swiper-slide {
        width: 300px !important;
        height: 400px !important;
    }

    .slide-text {
        font-size: 30px;
    }

    .slide-profile {
        height: 25%;
        width: 90%;
        gap: 20px;
        font-size: 18px;
    }

    .slide-profile>img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    .slide-profile>div>span {
        font-weight: 500;
    }
    .slide-profile>div>p{
        font-size: 13px;
        font-weight: 400;
    }

    .container-3 {
        height: 80vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .container-3>img {
        width: 100%;
    }

    .container-3-footer {
        height: 50%;
        width: 90%;
    }

    .footer-left {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .footer-right {
        height: 40%;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .footer-right>div {
        width: 100%;
        height: 20%;
    }

    .container-4 {
        min-height: 300vh;
        width: 100vw;
    }

    .container-4-header {
        justify-content: space-evenly;
        height: 12%;
        width: 90%;
    }

    .container-4-header>div:nth-child(1) {
        font-size: 25px;
        font-weight: 400;
    }

    .container-4-header>div:nth-child(2) {
        font-size: 20px;
        font-weight: 500;
    }

    .cards-2 {
        height: 25%;
        width: 80%;
    }

    .cards-2>.card-img {
        height: 60%;
    }

    .cards-2>.card-img>img {
        height: 100%;
        height: 100%;
    }

    .cards-2>h2 {
        width: 100%;
        height: 13%;
        justify-content: start;
        gap: 50px;
        padding-left: 20px;
        font-weight: 600;
        box-sizing: border-box;
    }

    .cards-2>h2>span {
        font-size: 16px;
    }

    .cards-2>h3 {
        height: 25%;
        font-size: 20px;
        line-height: 22px;
        color: rgb(78, 77, 77);
    }
    .container-4-footer{
        height: 9%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content:center;
    }
    .container-4-footer > button{
        height: 35%;
        width: 40%;
        font-size: 20px;
    }

    .footer-container{
        height: 150vh;
    }
    .footer-upper-box{
        height:20%;
        width: 90%;
        overflow: hidden !important;
    }
    .footer-upper-box > .the-half-circle{
        height: 300px;
        width:300px;
        top: -50%;
        right: -25%;
    }
    .footer-upper-box-center{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .footer-upper-box-center > h1{
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
    }
    .footer-upper-box-center > div{
        height: 40%;
        width: 100%;
    }
    .footer-upper-box-center > div > input{
        font-size: 15px;
        width: 60%;
        padding: 5px 10px;
    }
    .footer-upper-box-center > div > button{
        height: 40%;
        width: 30%;
        font-size: 15px;
        font-weight: 600;
    }

    .footer{
        height: 70%;
        width: 80%;
       align-items: flex-start;
    }
    .footer-logo{
        height: 25%;
        width: 100%;
    }
    .footer-logo > .desc{
        font-size: 15px;
        height: 30%;
    }
    .footer-logo > h3{
        font-size: 30px;
    }
    .footer-logo > h3{
        color:var(--secondaryText) ;
        font-size: 18px;
    }
    .footer-divs{
        height: 90%;
        width: 100%;
        height: 25%;
        text-align: start;
        align-items: flex-start;
    }
    .footer-divs > h3{
        font-size: 20px;
    }
    .footer-divs > li{
        font-size: 18px;
    }
    
}